@import "tailwindcss";

body {
    background-color: rgb(255, 200, 36);
}

nav ul li {
    font-family: 'serif';
    color: rgb(255, 77, 0);
    font-size: 25px;
    padding: 5px;
    font-weight: bolder;
}

@media (min-width: 768px) {
    nav ul li {
        font-size: 22px;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
